
    <div class="col-sm-9 tab-content" id="assotiation">
            <div class="form-group">
              <h3>You can  link  your  profile  to  listed Social Network Applications listed below,So  your  Log In  will  be  easier, UserName+Password authentication will be also accessible</h3>
            </div>
            <div class="form-group">
                  <a href="assosiateFacebook">Assosiate your  profile  with facebook</a>
            </div>
            <div class="form-group">
                  <a href="assosiateGoogle">Assosiate your  profile  with Google</a>
            </div>
            <div class="form-group">
                  <a href="assosiateLinkedin">Assosiate your  profile  with Linkedin</a>
            </div>
    </div>