<visitor></visitor>

<div class="visitor-home">
  <div class="container-fluid">
    <div class="slogan">
      <h1>ნუ დაკარგავ დროს</h1>
      <h1>დასაქმდი ახლავე</h1>
    </div>
    <div class="registration-autorisation">
      <h3>გაიარეთ <a href="#">რეგისტრაცია</a>,<br>ან <a routerLink="../logIn">ავტორიზაცია</a></h3>
    </div>
    <div class="slogan-2">
      <h4>განათავსე შენი სამუშაო და დაელოდე საუკეთესო პერსონალს, <br> ან მოიძიე საკუთარი პრიორიტეტით სახლიდან გაუსვლელად.</h4>
    </div>
    <div class="slogan-3">
      <h4>განათავსე საკუთარი სამუშაო შესაძლებლობები და<br> მოიძიე სასურველი სამუშაო სახლიდან გაუსვლელად.</h4>
    </div>
  </div>
</div>







<!-- <h1>
    this is home
</h1> -->


   <!--
<div class="container outerpadding">
<div class="row">

  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:teal;color:#fff;"><strong>Lorem Ipsum</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">

        <div class="boximg">
         <img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c470899a2e1_1.JPG" class="img-responsive">
         <span class="label label-danger date">25 December 2015</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>


   <br>
        <p class="pull-left">Lorem ipsum Lorem ipsum<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>

        <span class="badge pull-right" style="background-color:teal">25</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:teal;color:#fff;"><strong>Lorem Ipsum</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">

        <div class="boximg">
         <img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c470899a2e1_1.JPG" class="img-responsive">
         <span class="label label-danger date">25 December 2015</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>


   <br>
        <p class="pull-left">Lorem ipsum Lorem ipsum<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>

        <span class="badge pull-right" style="background-color:teal">25</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:teal;color:#fff;"><strong>Lorem Ipsum</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">

        <div class="boximg">
         <img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c470899a2e1_1.JPG" class="img-responsive">
         <span class="label label-danger date">25 December 2015</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>


   <br>
        <p class="pull-left">Lorem ipsum Lorem ipsum<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>

        <span class="badge pull-right" style="background-color:teal">25</span>
      </div>
     </div>
  </div>
  <div class="col-lg-3">
     <div class="panel">
        <div class="panel-heading" style="background-color:teal;color:#fff;"><strong>Lorem Ipsum</strong></div>
        <div class="panel-body" style="background-color:#000;color:#fff; box-shadow:0 -12px 13px teal inset;">

        <div class="boximg">
         <img src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_52c470899a2e1_1.JPG" class="img-responsive">
         <span class="label label-danger date">25 December 2015</span>
         <span class="likebut glyphicon glyphicon-tag"></span>
         </div>


   <br>
        <p class="pull-left">Lorem ipsum Lorem ipsum<br>
           <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
            <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
             <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
              <span class="glyphicon glyphicon-star" style="font-size:18px;"></span>
               <span class="glyphicon glyphicon-star-empty" style="font-size:18px;"></span>
        </p>

        <span class="badge pull-right" style="background-color:teal">25</span>
      </div>
     </div>
  </div>
 </div>

</div>

 -->
