<employee></employee>
<div class="account">
  <div class="main-section">
    <div class="profile-pic">
      <div class="picture"></div>
      <button class="add-pic" type="button" name="button">ატვირთეთ ფოტო</button>
    </div>
    <div class="profile-info col-sm-8">
      <div class="fullname">
        სახელი გვარი
      </div>
      <div class="age">
        ასაკი: 22 წელი
      </div>
      <div class="gender">
        სქესი: მამრობითი
      </div>
      <div class="phone">
        ტელეფონი: 123 456789
      </div>
      <div class="mail">
        ელ-ფოსტა: e-mail@gmail.com
      </div>
      <div class="careers">
        გამოცდილება: დისტრიბუტორი, მძღოლი
      </div>
      <div class="skills">
        <span>ჩემს შესახებ</span>
        გამარჯობა, მე ვარ სახელი გვარი თბილისიდან. მაქვს 4 წლიანი გამოცდილება დისტრიბუტორისა და მძღოლის პოზიციაზე.
        გამარჯობა, მე ვარ სახელი გვარი თბილისიდან. მაქვს 4 წლიანი გამოცდილება დისტრიბუტორისა და მძღოლის პოზიციაზე.
        გამარჯობა, მე ვარ სახელი გვარი თბილისიდან. მაქვს 4 წლიანი გამოცდილება დისტრიბუტორისა და მძღოლის პოზიციაზე.
        გამარჯობა, მე ვარ სახელი გვარი თბილისიდან. მაქვს 4 წლიანი გამოცდილება დისტრიბუტორისა და მძღოლის პოზიციაზე.
        გამარჯობა, მე ვარ სახელი გვარი თბილისიდან. მაქვს 4 წლიანი გამოცდილება დისტრიბუტორისა და მძღოლის პოზიციაზე.
        გამარჯობა, მე ვარ სახელი გვარი თბილისიდან. მაქვს 4 წლიანი გამოცდილება დისტრიბუტორისა და მძღოლის პოზიციაზე.
      </div>
    </div>
  </div>
</div>
