<header>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top black-color" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                </div>
                <div class="container-fluid" id="">
                    <div class="navbar-header">
                        <a [routerLink]="['/']"><img src="./public/images/logo.png" alt=""></a>
                    </div>

                   <ul class="nav navbar-nav">
                                  <li><a routerLink="/">Home</a> </li>
                                  <li><a routerLink="/employee/history">History</a> </li>
                                  <!-- <li><a href="toprank"></a> </li>
                                  <li><a href="blog"></a> </li> -->
                                  <!-- <li><a href="about">About Us</a> </li> -->
                                  <!-- <li class="dropdown">

                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">History
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Proposals</a></li>
                                      <li><a href="#">Interviewing</a></li>
                                      <li><a href="#">Active Jobs</a></li>
                                      <li><a href="#">Finished Jobs</a></li>                                        
                                    </ul>
                                  </li> -->
                                  <li><a routerLink="/employee/topworker">Top Workers</a> </li>
                                  <li><a routerLink="/employee/messenger">Message</a> </li>
                                  <li><a routerLink="/employee/subscribes">Subscribes</a> </li>
                                  <li><a routerLink="/employee/account">Account</a> </li>
                                  
                                 <!--  <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">About your company</a></li>
                                      <li><a href="#">Manage Workers</a></li>
                                      <li><a href="#">Accouunt</a></li>
                                      <li><a href="#">Settings</a></li>  
                                    </ul>
                                  </li> -->
                                  


                                   
                                </ul>
                                <log-out></log-out>
                </div>
            </div>
        </nav>
    </div>
</header>