<employee></employee>




<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-md-4 bg-white chat-members ">
            <div class="chat-members-title border-bottom padding-sm">
                Contact List
            </div>
            <!-- =============================================================== -->
            <!-- member list -->
            <ul class="friend-list">
                <li *ngFor="let conversation of conversationList" class="active bounceInDown">
                    <a href="#" class="clearfix">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                        <div class="friend-name">
                            <strong *ngFor="let chatter of conversation.otherChatters">{{chatter.fName + ' ' + chatter.lName}}</strong>
                        </div>
                        <!--<div class="last-message text-muted">Hello, Are you there?</div>
                		<small class="time text-muted">Just now</small>
                		<small class="chat-alert label label-danger">1</small>-->
                    </a>
                </li>
            </ul>
        </div>
        <!--=========================================================-->
        <!-- selected chat -->
        <div *ngFor="let conversation of conversationList" class="col-md-8 ">
            <div class="chat-message">
                <ul class="chat">
                    <li *ngFor="let message of conversation.message" class="{{message.sender.Id !== conversation.me.Id ? 'left clearfix' : 'right clearfix' }}" >
                        <div *ngIf="message.sender.Id !== conversation.me.Id">
                            <span class="chat-img pull-left">
                            <img src="http://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.sender.fName + ' ' +message.sender.lName }}</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                                </div>
                                <p>
                                    {{message.text}}
                                </p>
                            </div>
                        </div>
                        <div *ngIf="message.sender.Id == conversation.me.Id">
                            <span class="chat-img pull-right">
			                    		<img src="http://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
			                    	</span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{message.sender.fName + ' ' +message.sender.lName }}</strong>
                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                                </div>
                                <p>
                                    {{message.text}}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <form (ngSubmit)="sendMessage(conversation.Id,conversation.me.Id,conversation.subject.Id,$event)">
                  <div class="chat-box bg-white">
                    <div class="input-group">
                      <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                      <span class="input-group-btn">
                        <input class="btn btn-success no-rounded" type="submit" value="send">
                      </span>
                    </div>
                    <!-- /input-group -->
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
