<header>
    <div class="navbar-wrapper">
        <nav class="navbar navbar-inverse navbar-static-top black-color" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                </div>
                <div class="container-fluid" id="">
                    <div class="navbar-header">
                        <a routerLink="/employer"><img src="/src/public/images/logo.png" alt=""></a>
                    </div>

                    <ul class="nav navbar-nav">
                                  
                                  <li><a routerLink="/employer">Home</a> </li>
                                  <!-- <li><a href="toprank"></a> </li>
                                  <li><a href="blog"></a> </li> -->
                                  <!-- <li><a href="about">About Us</a> </li> -->
                                  <!-- <li><a href="workerStatistics">Top Workers</a> </li> -->
                                  <li><a routerLink="/employer/postJob">Post Job</a> </li>
                                  <li><a routerLink="/employer/clientJobHistory">Job History</a> </li>

                                  <li><a routerLink="/employer/subscribes">Subscribe</a> </li>
                                  <li><a routerLink="/employer/messenger">Messages</a> </li>
                                  <li><a routerLink="/employer/offers">Offers</a> </li>
                                  <li><a routerLink="/employer/account">Account</a> </li> 


                                  <!-- <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">                                    
                                      <li><a href="account">Accouunt</a></li>
                                      <li><a href="settings">Settings</a></li>  
                                    </ul>
                                  </li> -->
                                   
                                </ul>
                                
                                <log-out></log-out>
                </div>
            </div>
        </nav>
    </div>
</header>