<employer></employer>




<div class="container">
	<div class="row">
		<div class="span5">
            <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                      <th>Created At</th>
                      <th>Last Modified</th>
                      <th>Job Title</th>
                      <th>Budget</th>
                      <th>Dead Line</th>
                      <th>Status</th>
                      <th>Edit</th>                                          
                  </tr>
              </thead>   
              <tbody>
                <tr *ngFor="let job of jobPostList">
                    <td>{{ job.createdAt }}</td>
                    <td>{{ job.updatedAt }}</td>
                    <td>{{ job.jobTitle }}</td>
                    <td>{{ job.budget }}</td>
                    <td>{{ job.deadline }}</td>
                    <td>
                        <span class="label label-success" *ngIf="job.status === 'active'">Active</span>
                        <span class="label label-default" *ngIf="job.status === 'adminsuspended'">Suspended By User</span>
                        <span class="label label-danger" *ngIf="job.status === 'usersuspended'">Suspended By Administration</span>
                        <span class="label label-warning" *ngIf="job.status === 'Interviewing'">Interviewing</span>
                        <span class="label label-warning" *ngIf="job.status === 'inprogress'">In Progress</span> 
                        <span class="label label-success" *ngIf="job.status === 'finished'">Finished</span>                   
                    </td>    
                    <td><a routerLink="/employer/edit-job/{{job.id}}">Edit</a></td>                                   
                </tr>
                                                  
              </tbody>
            </table>
            </div>
	</div>
</div>